
.name{
	font-size: 3.5em;
	color: #32CD32;
	padding-top: 10px;
}

.position{
	font-size: 1.25em;

}

.navbar{
	font-weight: bold;
	text-align: center;
	background-color: black;
}

.cmd{
	color: #32CD32;
	font-weight: bold;
}

.content{
	padding: 1em;
	margin: 0 auto;
	width: 90%
}

.green{
	color: #32CD32;
}

body{
	background-color: #191919;
	color: white;
	border-right: auto;
	border-left: auto;
	font-family: "Courier New", Courier, monospace;
	padding-top: 115px;
	text-align: justify;

}

hr{
	margin: 2px;
}

button{
	background-color: inherit;
	color: inherit;
	border: 0px;
	padding: 0;
	padding-left: 20px;
}


input{
	background-color: inherit;
	color: inherit;
	padding: 0;
	border-color: #aaaaaa;
	border-bottom-width: 2px;

}